{% load static %} 

<script src="{% static 'js/jquery.min.js' %}"></script>

<script>
alert("a");
login();

function login(){

	var form_data = {
		"user_id": '201642201',
		"user_pw": '1234',
		"is_ajax": 1
	};

	$.ajax({
		type: "POST",
		url: "http://114.202.247.167:8000/service10/authChk/",
		data: form_data,
		success: function(response) {
		
			alert(JSON.stringify(response));
			alert(JSON.stringify(response.apl_nm));

		},
	    error: function(err) {
	    	alert("a2");
	        //서버로부터 응답이 정상적으로 처리되지 못햇을 때 실행
	        // v_data = err;
	        if (window.sessionStorage) {
                sessionStorage.setItem('login', 'Y');
                var position = sessionStorage.getItem('login');
                window.location.href = "/";
                // $("#loginNoSession").css("display","none");
                // $("#loginSession").css("display","");
            }
	    }
	});
	return false;
}
</script>